data/
plot/
VRDFON/*
!VRDFON/driver.m
!VRDFON/paramcheck.m
!VRDFON/caller_pc.m
!VRDFON/parambound.m
!VRDFON/xgenerator.m
!VRDFON/paramwriter.m
!VRDFON/paramtracker.m
!VRDFON/minprob.m
!VRDFON/extractbound.m
!VRDFON/decode.m
!VRDFON/computex.m
!VRDFON/computep.m
!VRDFON/boundtransform.m
!VRDFON/MATRSstep.m
*.aux
*.log
*.pdf
*.out
*.synctex.gz
*.jld
*.fdb_latexmk
*.fls