/* Custom CSS to create two columns */
.two-columns {
    display: flex;
    justify-content: space-between;
}

.two-columns .left-column {
    width: 48%; /* 48% for the left column */
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.two-columns .right-column {
    width: 48%; /* 48% for the right column */
    padding-left: 10px;
}

/* Ensure images scale properly */
.two-columns img {
    max-width: 100%;
    height: auto;
}

/*bg images*/
.bgimg {
    background-image: url('../images/divbg.png');
}
.bgcolor {
    background-color:#ffe000;
}

/* logos at the bottom*/
.text-pad {
    position:relative;
    text-align: center;
    bottom: -150px;
    z-index: 1
  }

.logo-container {
    position: absolute;
    bottom: -400px; /* Distance from the bottom of the slide */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    gap: 300px; /* Space between the logos */
}

.logo-container img {
    width: auto; /* Set a fixed width for the logos */
    height: 60px; /* Keep aspect ratio */
}

/*slider*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 5px; 
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;  
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 5px;  
    background: #04AA6D;
    cursor: pointer;
}

.left-align-list ul {
    margin-left: -100px;
    padding-left: 0;
}