/* Custom CSS to create two columns */
.two-columns {
    display: flex;
    justify-content: space-between;
}

.two-columns .left-column {
    width: 48%; /* 48% for the left column */
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.two-columns .right-column {
    width: 48%; /* 48% for the right column */
    padding-left: 10px;
}

/* Ensure images scale properly */
.two-columns img {
    max-width: 100%;
    height: auto;
}

/*bg images*/
.bgimg {
    background-image: url('../images/divbg.png');
}
.bgcolor {
    background-color:#ffe000;
}

/* logos at the bottom*/
  
.text-pad {
    position:relative;
    text-align: center;
    bottom: -150px;
    z-index: 1
  }

.logo-container {
    position: absolute;
    bottom: -400px; /* Distance from the bottom of the slide */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    gap: 500px; /* Space between the logos */
}

.logo-container img {
    width: auto; /* Set a fixed width for the logos */
    height: 60px; /* Keep aspect ratio */
}